body {
	font-family: "Lucida Console", Monaco, monospace;
    font:12px;
    color: #222;
    text-align:center;
    padding:35px;
}
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
a:hover { text-decoration:underline; }

#menu { padding:12.5px 25px 12.5px 25px; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:100%;
	height:80%;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
.msgbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:50%;
    width:90%;
    border:1px solid #ACD8F0;
    overflow:auto;
	max-height: 200px;
}

#answerList {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:50%;
    width:90%;
    border:1px solid #ACD8F0;
    overflow:auto;
	max-height: 200px;
}
  
.inputbox {
    width:80%;
	height: 30px;
    border:1px solid #ACD8F0; }

.answerbox {
    width:30%;
	height: 30px;
    border:1px solid #ACD8F0; }
	  
.error { color: #ff0000; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln {
	margin:0 0 2px 0;
	font-size: 12px;
}

.hidden{
	display:none;
}
.button {
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #b19cd9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.answerContainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.answerContainer::after {
  content: "";
  clear: both;
  display: table;
}
.subtext-right {
  float: right;
  color: #aaa;
}
.subtext-left {
  float: left;
  color: #999;
}


.tag-container {
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6px;
  overflow-x: scroll;
}
.tag-container .tag {
  height: 30px;
  margin: 5px;
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
  cursor: default;
}
.tag i {
  font-size: 16px;
  color: #666;
  margin-left: 5px;
}
.tag-container input {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
  font-family: 'Rubik';
  color: #333;
  flex: 1;
}

.guesser{
	color: blue;
	font-size: 5px;
}

.correct{
	background: #00FF7F !important;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #00FF7F !important;
}

.wrong{
	background: #ffcccb !important;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #ffcccb !important;
}

.green{
	color: green;
}

.red{
	color: red;
}

.silverCrown{
	color: transparent;  
	text-shadow: 0 0 0 silver;
}

.bronzeCrown{
	color: transparent;  
	text-shadow: 0 0 0 #cd7f32;
}

.botMsg{
	color: #3299CC;
}





* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {
	width: 48%;
	border-radius: 5px;
	background: #98FB98;
	padding: 1%;
	margin: 0.5%;
}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 980px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}